# Простые типы данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

str

In [4]:
# my_bool = True
my_bool = False
type(my_bool)

bool

In [6]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [8]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [11]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [12]:
# неявное преобразование типов
print(1 + False)
#print(20 / 5.0)

1

## Строки

In [1]:
'Hi, ' + 'Oleg'

'Hi, Oleg'

In [4]:
my_string.upper()

'HELLO WORLD!'

In [5]:
my_string.lower()

'hello world!'

In [6]:
my_string.capitalize()

'Hello world!'

In [7]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [8]:
len(my_string)

12

## Индексация и срезы

In [9]:
my_string = 'Hello World'

In [10]:
my_string[2]

'l'

In [11]:
my_string[-4]

'o'

In [12]:
my_string[0:5] #пятый элемент берется не включительно

'Hello'

In [13]:
my_string = 'Hello World'
my_string[0:8:2] #[ начало : окончание : шаг ] среза

'HloW'

In [14]:
my_string[6:] #ограничение среза - С какого индекса выводить

'World'

In [15]:
my_string[:5] #ограничение среза - ДО какого индекса выводить

'Hello'

In [16]:
my_string [::] #не обязательно указывать все элементы среза

'Hello World'

In [17]:
my_string [::-1] #разворачивание строки

'dlroW olleH'

## Упражнение
Выделите номер часа из даты следующего формата

In [18]:
date = '2019-08-27T23:59:00.932'

In [19]:
print(date[11:13])

23

## Проверка на вхождение элемента в объект

In [24]:
my_string = 'Hello World'
target_string = 'World'
if target_string in my_string:
    print('find!')

find!

## f-строки

In [31]:
name = 'oleg'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

# Списки

In [32]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [33]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [34]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [35]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [36]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

'Jan'

In [37]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [38]:
#обновление нескольких списков по индексам
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [39]:
#добавление списка в список
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [40]:
first, second, third = ['первый', 'второй', 'третий']

In [46]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий', 'четвертый', 'пятый']
print(first)
print(_)

первый
['второй', 'третий', 'четвертый', 'пятый']

In [47]:
#отделить первый и последний элементы
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [48]:
first, last

('первый', 'четвертый')

## Операции со списками

In [195]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [50]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [51]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [52]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [53]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [54]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [56]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000)

0

In [57]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [58]:
# узнаем длину списка
len(income_list)

10

In [191]:
# сумма элементов
sum(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [60]:
# максимальный элемент элементов
max(income_list)

1111111

In [63]:
# минимальный элемент элементов
min(income_list)

13000

In [64]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [65]:
# изменить порядок сортировки
sorted(income_list, reverse=True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [66]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [79]:
a = [1, 2, 3]
b = a

In [80]:
b.append(4)
id(a), id(b)

(1742216355656, 1742216355656)

In [69]:
b.append(4)
f'a = {a}'

'a = [1, 2, 3]'

In [70]:
id(a), id(b)

(1742215381256, 1742216221640)

Используем модуль copy

In [72]:
import copy

In [73]:
a = [1, 2, 3]
b = copy.copy(a)

In [74]:
id(a), id(b)

(1742216362696, 1742215419336)

In [75]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

In [88]:
a = [1, 2, 3]
b = a
b = list(a) #указываем, что в указанный список нужно передать информацию из а
b.append(4)

id(a), id(b)
print(a,'\n',b)

[1, 2, 3]
 [1, 2, 3, 4]

## Списки и строки

In [84]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [85]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [45]:
# Преобразование списка в строку, обратна .split

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [46]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

# Tuple (кортежи)

In [97]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
# type(list(salary_tuple))

[1000, 1200, 1300, 900, 800]

In [100]:
# print(salary_tuple[0])
salary_tuple[0] = 500 #не поддерживает пересвоение элементов

TypeError: 'tuple' object does not support item assignment

In [50]:
# кортеж из одного элемента задается так: обязательно надо указать запятую
t = ('one', )
type(t)

tuple

In [49]:
# без запятой получится строка
type( ('one') )

str

In [102]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

# Циклы

## Цикл while

In [103]:
x = 5
while x != 0:
    x -= 1
    print(x)

4
3
2
1
0

In [55]:
x = 6
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x -= 1

6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

In [56]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
#     print(letter)
    letter = letter.capitalize()
    print(letter)

O
R
A
N
G
E

In [57]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]

for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', fcompany[1])
#     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

### Функции range и enumerate

In [58]:
# range(10)
type(range(10))

range

In [59]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [62]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

In [63]:
# enumerate позволяет получить индекс каждого элемента
enumerate([144, 244, 344, 444, 544])
list(enumerate([144, 244, 344, 444, 544]))

[(0, 144), (1, 244), (2, 344), (3, 444), (4, 544)]

In [104]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## break, pass, continue

In [105]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [106]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [107]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end='')

640Кбдолжнохватитьдлялюбыхзадач.БиллГейтс(полегенде)

In [108]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter, end='')

640Кб должно хватить для любых задач. Билл Гейтс (по легенде)

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

In [110]:
person = 5

cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [190]:
for dish in cook_book:
    print()
    print(f'{dish[0].capitalize()}:')
    for ingredient in dish[1]:
        print(f'{ingredient[0]}, {ingredient[1] * person}{ingredient[2]}')

Салат:
картофель, 500гр.
морковь, 250гр.
огурцы, 250гр.
горошек, 150гр.
майонез, 350мл.

Пицца:
сыр, 250гр.
томаты, 250гр.
тесто, 500гр.
бекон, 150гр.
колбаса, 150гр.
грибы, 100гр.

Фруктовый десерт:
хурма, 300гр.
киви, 300гр.
творог, 300гр.
сахар, 50гр.
мед, 250мл.

## List comprehension

Управляющие конструкции и коллекции. Часть 2.

In [6]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [7]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [8]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [9]:
my_list = [num for num in sequence if num % 5 == 0] 
my_list

#указываем, ЧТО СДЕЛАТЬ с элементом последовательсноти
#ДЛЯ каждого элемента последовательности В ОБЪЕКТЕ (где) + ДОБАВЛЯЕМ УСЛОВИЕ
#квадратные скобки указываем для того, чтобы вывести СПИСОК
# num это произвольная переменная, имя которой мы присваиваем сами

[0, 15, 30]

In [10]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [11]:
# с list comprehension получается покороче

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [12]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [13]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [17]:
sum([x[2] for x in api_response]) / len(api_response)

#возьми каждый элемент с индексом два с переменной х и просуммируй, подели на длину api_response

128.14285714285714

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [19]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [31]:
result = [num for num in sys_stdin if num % 2 == 0]
print(min(result))

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [32]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [33]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Python', 'Java', 'Git', 'R', 'Tableau', 'Scala', 'Hadoop', 'SAS', 'SQL'}
{'Python', 'Java', 'Git', 'R', 'Tableau', 'Scala', 'Hadoop', 'SAS', 'SQL'}

In [34]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'SQL', 'Git', 'Python'}
{'SQL', 'Git', 'Python'}

In [37]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_engineer_skills - data_scientist_skills)

{'R', 'Tableau', 'SAS'}
{'Hadoop', 'Scala', 'Java'}

In [36]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Java', 'R', 'Tableau', 'Scala', 'Hadoop', 'SAS'}
{'Java', 'R', 'Tableau', 'Scala', 'Hadoop', 'SAS'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [38]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [39]:
# обращение к элементу словаря
salaries['John']

1200

In [41]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [43]:
# добавляем элемент в словарь
salaries['James'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [44]:
#изменяем значение по ключу
salaries['Mary'] = 2200
salaries

{'John': 1200, 'Mary': 2200, 'Steven': 1000, 'James': 2000}

In [48]:
# безопасно получаем значение по ключу. Если указанный ключ есть, то вернется значение. 
# Если ключа нет - то выведется то значение, которое мы указали следом.
# salaries['Oleg']
salaries.get('Oleg', 'Not Found')
# salaries.get('Mary', 'Not Found')

'Not Found'

In [49]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Добавляю новый ключ
{'John': 1200, 'Mary': 2200, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [51]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

salaries.setdefault('Mary', 3000)
salaries
# salaries.setdefault('Paul', 3000)
# salaries

{'John': 1200, 'Mary': 2200, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [53]:
# перейдем к более сложному словарю - словарь в словаре с разными типами данных
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [58]:
staff_dict['Robert']['bonus']

# если значением исходного словаря является список: до первого уровня вложенности добираюсь по ключу.
# например: ['Robert'][0]['salary'][2] etc

200

In [56]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [65]:
# получаем только ключи/значения из словаря (очень пригодится в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())


# print(list(staff_dict.keys()))
# print(list(staff_dict.values()))
print(list(staff_dict.items()))

[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [66]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [67]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [68]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [72]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [76]:
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [77]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [80]:
# используем цикл
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s bonus: ", info['bonus'], sep='')

Robert {'salary': 800, 'bonus': 200}
Robert's bonus: 200
Jane {'salary': 200, 'bonus': 300}
Jane's bonus: 300
Liza {'salary': 1300, 'bonus': 200}
Liza's bonus: 200
Richard {'salary': 500, 'bonus': 1200}
Richard's bonus: 1200
Oleg {'salary': 1000000, 'bonus': 300}
Oleg's bonus: 300

In [91]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
    print(f"{person}'s salary: {info['salary']} {info['status']}")

# staff_dict

Robert's salary: 800 below average
Jane's salary: 200 below average
Liza's salary: 1300 above average
Richard's salary: 500 below average
Oleg's salary: 1000000 above average

In [92]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [1]:
[x**2 for x in range(10)] #это list comprehension[]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
{n: n**2 for n in range(10)} 
#в случае с dict надо четко указывать, что делать с ключами и значениями

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]
results

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

In [95]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [125]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}
for company, value in results.items():
    print(f"{company.capitalize()}'s ROI is {(value['revenue'] / value['cost'] - 1) * 100}")

Vk's ROI is 5.102040816326525
Yandex's ROI is 16.99346405228759
Facebook's ROI is -6.36363636363636
Adwords's ROI is 2.941176470588225
Twitter's ROI is -54.16666666666667

Необходимо вывести один общий список покупок - сквозной расчет всех продуктов.

In [189]:
person = 5

cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

shop_list = {}

for dish in cook_book:
    for ingr in cook_book[dish]:
        total_amount = ingr['quantity'] * person
        if ingr['ingridient_name'] not in shop_list:
            shop_list[ingr['ingridient_name']] = {'quantity': total_amount, 'measure' : ingr['measure']} 
        else:
            shop_list[ingr['ingridient_name']]['quantity'] += total_amount
print(shop_list)

{'сыр': {'quantity': 350, 'measure': 'гр'}, 'томаты': {'quantity': 200, 'measure': 'гр'}, 'огурцы': {'quantity': 100, 'measure': 'гр'}, 'маслины': {'quantity': 50, 'measure': 'гр'}, 'оливковое масло': {'quantity': 100, 'measure': 'мл'}, 'салат': {'quantity': 50, 'measure': 'гр'}, 'перец': {'quantity': 100, 'measure': 'гр'}, 'колбаса': {'quantity': 150, 'measure': 'гр'}, 'бекон': {'quantity': 150, 'measure': 'гр'}, 'оливки': {'quantity': 50, 'measure': 'гр'}, 'тесто': {'quantity': 500, 'measure': 'гр'}, 'лимон': {'quantity': 5, 'measure': 'шт'}, 'вода': {'quantity': 1000, 'measure': 'мл'}, 'сахар': {'quantity': 50, 'measure': 'гр'}, 'лайм': {'quantity': 100, 'measure': 'гр'}}

In [174]:
shop_list = {}

for dish in cook_book:
    for ingr in cook_book[dish]:
        total_amount = ingr['quantity'] * person
        if ingr['ingridient_name'] not in shop_list: #проверка словаря идет по ключам, т.е. по названию ингредиента
#         shop_list[ingr['ingridient_name']] = ingr['quantity'] * person #ingr['ingredient_name'] это ключ, а ноль - значение переменной в словаре
            shop_list[ingr['ingridient_name']] = {'quantity': total_amount, 'measure' : ingr['measure']} 
    #создаем вложенный список с ключами
        else:
            shop_list[ingr['ingridient_name']]['quantity'] += total_amount
print(shop_list)

#если такого ингр в списке продуктов нет, то рассчитывай и добавляй в словарь
#если уже есть - обращайся к кол-ву ингр, который у нас уже есть и прибавляй к нему ещё то кол-во, которое мы рассчитали

{'сыр': {'quantity': 350, 'measure': 'гр'}, 'томаты': {'quantity': 200, 'measure': 'гр'}, 'огурцы': {'quantity': 100, 'measure': 'гр'}, 'маслины': {'quantity': 50, 'measure': 'гр'}, 'оливковое масло': {'quantity': 100, 'measure': 'мл'}, 'салат': {'quantity': 50, 'measure': 'гр'}, 'перец': {'quantity': 100, 'measure': 'гр'}, 'колбаса': {'quantity': 150, 'measure': 'гр'}, 'бекон': {'quantity': 150, 'measure': 'гр'}, 'оливки': {'quantity': 50, 'measure': 'гр'}, 'тесто': {'quantity': 500, 'measure': 'гр'}, 'лимон': {'quantity': 5, 'measure': 'шт'}, 'вода': {'quantity': 1000, 'measure': 'мл'}, 'сахар': {'quantity': 50, 'measure': 'гр'}, 'лайм': {'quantity': 100, 'measure': 'гр'}}